<div class="section text-center">
    <h2 class="title">Nuestros Productos mas comprados</h2>
    <div class="best">
        <div class="row" >
            <div class="col-md-3">
                <div class="best-product">
                    <div class="card card-plain">
                        <div class="col-md-5 ml-auto mr-auto">
                            <img src="./images/bck/mine.png" alt=""
                                class="img-raised  img-fluid">
                        </div>
                        <h4 class="card-title ">Diamante Raro 
                            <br>
                            $1000
                           </h4>
                        <div class="card-body">
                            <p class="card-description">Un diamante raro como venido de otra dimension</p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <button class="btn btn-rose btn-raised">
                                <i class="material-icons">favorite_border
                                </i>
                              
                            </button>
                            
                            <button class="btn btn-rose btn-raised">
                                <i class="material-icons">loyalty
                                </i>
                                Comprar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="best-product">
                    <div class="card card-plain">
                        <div class="col-md-5 ml-auto mr-auto">
                            <img src="./images/bck/diamond.png" alt=""
                                class="img-raised  img-fluid" style="width: 80%;">
                        </div>
                        <h4 class="card-title ">Diamante Comun 
                            <br>
                            $100
                           </h4>
                        <div class="card-body">
                            <p class="card-description">Un diamante comun, nunca falla</p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <button class="btn btn-rose btn-raised">
                                <i class="material-icons">favorite_border
                                </i>
                              
                            </button>
                            
                            <button class="btn btn-rose btn-raised">
                                <i class="material-icons">loyalty
                                </i>
                                Comprar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="best-product">
                    <div class="card card-plain">
                        <div class="col-md-5 ml-auto mr-auto">
                            <img src="./images/bck/poke.png" alt=""
                                class="img-raised  img-fluid" style="width: 50%;">
                        </div>
                        <h4 class="card-title ">Piedra trueno 
                            <br>
                            $50
                           </h4>
                        <div class="card-body">
                            <p class="card-description">Una piedra con un trueno se lo puedes dar a un tipo de animal</p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <button class="btn btn-rose btn-raised">
                                <i class="material-icons">favorite_border
                                </i>
                               
                            </button>
                            
                            <button class="btn btn-rose btn-raised">
                                <i class="material-icons">loyalty
                                </i>
                                Comprar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="best-product">
                    <div class="card card-plain">
                        <div class="col-md-5 ml-auto mr-auto">
                            <img src="./images/bck/filo.png" alt=""
                                class="img-raised  img-fluid" style="width: 50%;">
                        </div>
                        <h4 class="card-title ">Piedra Filosofal
                            <br>
                            $1000000000
                           </h4>
                        <div class="card-body">
                            <p class="card-description">Unica  tal vez pueda revivir a alguien conseguimos una en cada 30 años</p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <button class="btn btn-rose btn-raised">
                                <i class="material-icons">favorite_border
                                </i>
                               
                            </button>
                            
                            <button class="btn btn-rose btn-raised">
                                <i class="material-icons">loyalty
                                </i>
                                Comprar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>